<h1>Estadísticas:</h1>
<p>Número de preguntas: <strong><%= num_quizes %></strong></p>
<p>Número de comentarios totales: <strong><%= num_comments %></strong></p>
<p>Número medio de comentarios por pregunta: <strong><%= avg_comments_by_quiz %></strong></p>
<p>Número de preguntas SIN comentarios: <strong><%= num_quizes_without_comments %></strong></p>
<p>Número de preguntas CON comentarios: <strong><%= num_quizes_with_comments %></strong></p>